body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue";
}

table {
  margin-bottom:  0 !important;
}

.principal {
  width: 100%;
  height: 100%;
  display: table;
  position: fixed;
  background: url("img/fondo.jpg") no-repeat center center scroll;
  background-size: cover;
}

.centrado {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.titulo {
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  font-size: 55px;
  font-family: "Permanent Marker", cursive;
}

.btn-bandagio {
  background-color: white;
  color: #008CBA;
  border: 2px solid #008CBA;
  font-family: "Permanent Marker", cursive;
  margin-right: 10px;
}

.btn-bandagio:active,
.btn-bandagio:focus,
.btn-bandagio:hover {
  background-color: #008CBA;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.tama {
  width: 33%;
  text-align: center;
}

.btn-centrar {
  margin-left: 47%;
  margin-top: 15px;
}

.fondo {
  background-color: #008CBA;
  color: white;
}
