.margin-left-right {
    margin: 0 25%;
}

.centrar {
    text-align: center;
    margin-bottom:15px;
}


/*
css innecesario, todo se puede aplicar al app.css ya que al mpmento de renderizar todo pasa por ahi
*/
